@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap');

:root {
    --increment: 8px;

    --font-size-small: 1.25rem;
    --font-size: 1.75rem;
    --font-size-large: 3.5rem;
    --font-size-huge: 7rem;
    --font-size-tags: var(--font-size-huge);

    --font-height-small: 3rem;
    --font-height: 3rem;
    --font-height-large: 4rem;
    --font-height-huge: 1.14285714;

    --font-weight-normal: 400;
    --font-weight-bold: 700;

    --font-family: 'Roboto Mono', monospace;

    --font-color-default: #000;
    --font-color-inverted: #fff;

    --background-color: #fff;

    --trasnsition: 300ms;
}

* {
    box-sizing: border-box;
}

html {
    background-color: var(--background-color);
    font-size: var(--increment);
    transition: background-color var(--trasnsition);
}

body {
    margin: 0;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

.page {
}

.page__main {

}

.page__aside {
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
    width: calc(75% - 4rem);
    height: 100vh;
    pointer-events: none;
}

@media all and (max-width: 767px) {
    .page__aside {
        width: 100vw;
        opacity: .2;
    }
}

.heading {
    margin: 0;
    font-family: var(--font-family);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    letter-spacing: 0.75rem;
    line-height: var(--font-height-large);
}

.text {
    margin: 0 0 3rem 0;
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight-normal);
    line-height: var(--font-height);
}

.link {
    min-width: auto;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size);
    font-family: var(--font-family);
    text-transform: uppercase;
    text-decoration: none;
    line-height: var(--font-height);
    color: #000;
    box-shadow: none;
}

.link--primary {
    display: inline-block;
    min-width: 4rem;
    height: 3rem;
    margin-right: 2rem;
    font-size: var(--font-size-small);
    text-align: center;
    text-transform: none;
    line-height: var(--font-height-small);
    color: var(--font-color-inverted);
    box-shadow: inset 0 -0.2rem 0 0 #fff;
    transition: box-shadow var(--trasnsition), color var(--trasnsition);
}

.link--primary:hover {
    color: #000;
    box-shadow: inset 0 -3rem 0 0 #fff;
}

.post {
    display: grid;
    grid-row-gap: 5rem;
    grid-column-gap: 5rem;
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(4, 1fr);
    height: 100vh;
    margin-bottom: 100vh;
    padding: 5rem;
    color: var(--font-color-default);
}

.post--inverted {
    color: var(--font-color-inverted);
}

.post__heading {
    grid-column-start: 1;
    grid-column-end: 1;
    margin: 0;
}

.post__content {
    grid-column-start: 1;
    grid-column-end: 1;
}

.post--wide .post__content {
    grid-column-end: 5;
}

@media all and (max-width: 767px) {
    .post__heading,
    .post__content {
        grid-column-start: 1;
        grid-column-end: 5;
    }
}

@media all and (min-width: 768px) {
    .post__heading,
    .post__content {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media all and (min-width: 1440px) {
    .post__heading,
    .post__content {
        grid-column-start: 1;
        grid-column-end: 1;
    }
}

.tags {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    word-spacing: 2rem;
    pointer-events: none;
    text-align: right;
}

.tags__item {
    display: inline;
    font-size: var(--font-size-tags);
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family);
    letter-spacing: 0.75rem;
    text-transform: uppercase;
    line-height: var(--font-height-huge);
    color: var(--font-color-inverted);
    opacity: .2;
    user-select: none;
    pointer-events: none;
    transition: opacity var(--trasnsition);
}

.tags__item--active {
    opacity: 1;
}

.slider {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.slider__list {
    display: flex;
    flex: 1;
    margin: 0 0 5rem 0;
    padding: 0;
    list-style: none;
}

.slider__item {
    display: none;
    width: 100%;
    height: 100%;
    background: none center no-repeat;
    background-size: contain;
}

.slider__item--active {
    display: block;
    animation: fadeIn var(--trasnsition);
}

.slider__item:not(:first-child).slider__item--active {
    animation: slide var(--trasnsition);
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(2rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



.controls {
    display: flex;
    height: 2rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

.controls__item {
    width: 4rem;
    margin-right: 2rem;
}

.controls__button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    box-shadow: inset 0 -0.2rem 0 0 #000;
    cursor: pointer;
}

.controls__button--active {
    background-color: #000;
}
