:root {
    --increment: 8px;

    --font-size-small: 1.25rem;
    --font-size: 1.75rem;
    --font-size-large: 3.5rem;
    --font-size-huge: 7rem;
    --font-size-tags: 1rem;

    --font-height-small: 3rem;
    --font-height: 3rem;
    --font-height-large: 4rem;
    --font-height-huge: 1.14285714;

    --font-weight-normal: 400;
    --font-weight-bold: 700;

    --font-family: 'Roboto Mono', monospace;

    --font-color-default: #000;
    --font-color-inverted: #fff;

    --background-color: #fff;

    --trasnsition: 300ms;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto Mono';
    font-weight: normal;
    src: url('fonts/roboto-mono/roboto-mono-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    font-weight: bold;
    src: url('fonts/roboto-mono/roboto-mono-bold.ttf') format('truetype');
}

html {
    background-color: var(--background-color);
    font-family: var(--font-family);
    font-size: var(--increment);
    transition: background-color var(--trasnsition);
}

body {
    overflow: scroll;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

p {
    margin: 0 0 3rem 0;
}

.aside {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(75% - 4rem);
    height: 100vh;
    pointer-events: none;
}

.text {
    font-size: var(--font-size);
    font-weight: var(--font-weight-normal);
    line-height: var(--font-height);
}

.portfolio {
    margin: 0;
    padding: 0;
    list-style: none;
}

.portfolio__item {
    height: 200vh;
}

.project {
    position: relative;
    /*position: sticky;*/
    /*top: 0;*/
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-bottom: 40px;
}

.project:focus {
    outline: none;
}

.project__header {
    z-index: 2;
    padding: 40px 40px 44px 40px;
}

.project__heading {
    width: 100%;
    margin: 0;
    font-size: 28px;
    font-weight: bold;
    line-height: 32px;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.project__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex: 1 1 auto;
}

.swiper-container {
    height: 100%;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 40px;
}

.swiper-pagination {
    padding: 0 40px;
    text-align: left;
}

.swiper-slide {
    padding: 0 40px;
}

.swiper-slide .text {
    position: relative;
    top: 0;
    transition: top var(--trasnsition), opacity var(--trasnsition);
    opacity: 0;
}

.swiper-slide .image {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: calc(100% - 80px);
    max-height: calc(100% - 80px);
    transform: translate3d(-50%, -50%, 0);
    transition: transform 300ms, left 300ms, right 300ms, opacity 300ms;
    opacity: 1;
}

.swiper-slide-prev .image {
    right: 0;
    transform: translate3d(0, -50%, 0);
    opacity: .7;
}

.swiper-slide-next .image {
    left: 0;
    transform: translate3d(0, -50%, 0);
    opacity: .7;
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    min-height: 16px;
    margin-right: 16px;
    padding: 0;
    border: none;
    background-color: transparent;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    box-shadow: inset 0 -2px 0 0 #000;
    transition: box-shadow 150ms, color 150ms;
}

.button:focus {
    outline: none;
}

.button:hover,
.button:focus,
.button--active {
    box-shadow: inset 0 -16px 0 0 #000;
}

.button--white {
    box-shadow: inset 0 -2px 0 0 #fff;
}

.button--white:hover,
.button--white:focus {
    color: #000;
    box-shadow: inset 0 -24px 0 0 #fff;
}

.link {
    min-width: auto;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size);
    font-family: var(--font-family);
    text-transform: uppercase;
    text-decoration: none;
    line-height: var(--font-height);
    color: #000;
    box-shadow: none;
}

.socials {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.socials__item {

}

.tag-cloud {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    word-spacing: 2rem;
    pointer-events: none;
    text-align: right;
}

.tag {
    display: inline;
    font-size: var(--font-size-tags);
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family);
    letter-spacing: 0.75rem;
    text-transform: uppercase;
    line-height: var(--font-height-huge);
    color: var(--font-color-inverted);
    opacity: .2;
    user-select: none;
    pointer-events: none;
    transition: opacity var(--trasnsition);
}

.tag--active {
    opacity: 1;
}

@media all and (max-width: 767px) {
    .project__heading,
    .project__content .text {
        width: 100%;
    }

    .tag-cloud {
        opacity: .2;
    }
}

@media all and (min-width: 768px) {
    .project__heading,
    .project__content .text {
        width: 50%;
    }
}

@media all and (min-width: 1440px) {
    .project__heading,
    .project__content .text {
        width: 25%;
    }
}
