 <article
        class="project {% if include.is_inverted %} project--inverted {% endif %} js-project"
        id="{{ include.uid }}"
        data-tags="{{ include.tags | join: ',' }}"
        data-color="{{ include.color }}"
>
    <div class="project__wrapper">
        <header class="project__header js-project-header">
            <h2 class="project__heading">{{ include.title }}</h2>
        </header>
        <div class="project__content">
            <div class="swiper js-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide swiper-slide-main js-swiper-slide">
                        <div class="text js-text">
                            {{ include.excerpt }}

                            {% for link in include.links %}
                                <a href="{{ link.url }}" class="link" target="_blank" rel="noopener">{{ link.title }}</a>
                            {% endfor %}
                        </div>
                    </div>

                    {% for image in include.images %}
                        <div class="swiper-slide js-swiper-slide">
                            <img src="" data-src="{{ image.url }}" class="image image--lazy" alt="{{ image.title }}" />
                            <div class="swiper-lazy-preloader"></div>
                        </div>
                    {% endfor %}
                </div>

                <div class="swiper-pagination js-swiper-pagination"></div>
            </div>
        </div>
    </div>
</article>
