@use "variables" as *;

* {
  box-sizing: border-box;
}

html {
  width: 100vw;
  font-family: $font-family;
  font-size: $increment;
}

html {
  height: 100%;
}

body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  background-color: #000;
}

p {
  margin: 0 0 3rem 0;
}
