.portfolio {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #000;
  transition: background-color 150ms;
  height: 100dvh;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }
}
