@import "variables";

.project {
  height: 200vh;

  &:focus {
    outline: none;
  }

  &--inverted {
    color: #fff;
  }

  &__wrapper {
    position: relative;
    height: 100vh;
  }

  &__header {
    z-index: 2;
    display: inline-flex;
    max-width: 100%;
    padding: 4.5rem 5rem 5rem 5rem;
    animation: $transition fadeIn;
  }

  &__heading {
    z-index: 2;
    display: inline-flex;
    margin: 0;
    font-size: $font-size-large;
    font-weight: bold;
    line-height: $font-height-large;
    letter-spacing: 0.75rem;
    text-transform: uppercase;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex: 1 1 auto;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
