:root {
  --increment: 8px;

  --font-size-small: 1.25rem;
  --font-size-medium: 1.75rem;
  --font-size-large: 3.5rem;

  --font-height-small: 2.4;
  --font-height-medium: 1.71;
  --font-height-large: 1.14;

  --font-family: 'Roboto Mono', monospace;

  --trasnsition: 300ms;
}

$increment: var(--increment, 8px);
$font-size-small: var(--font-size-small, 1.25rem);
$font-size-medium: var(--font-size-medium, 1.75rem);
$font-size-large: var(--font-size-large, 3.5rem);
$font-height-small: var(--font-height-small, 2.4);
$font-height-medium: var(--font-height-medium, 1.71);
$font-height-large: var(--font-height-large, 1.14);
$font-family: var(--font-family, 'Roboto Mono', monospace);
$transition: var(--transition, 300ms);
