 <article
        class="project {% if include.is_inverted %} project--inverted {% endif %} js-project"
        id="{{ include.uid }}"
        tabindex="0"
        data-tags="{{ include.tags | join: ',' }}"
        data-color="{{ include.color }}"
>
    <div class="project__wrapper">
        <header class="project__header js-project-header">
            <h2 class="project__heading">{{ include.title }}</h2>
        </header>
        <div class="project__content">
            <div class="swiper-container js-swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide swiper-slide-main js-swiper-slide">
                        <div class="text">
                            {{ include.excerpt }}

                            {% for link in include.links %}
                                <a href="{{ link[0] }}" target="_blank" class="link">{{ link[1] }}</a>
                            {% endfor %}
                        </div>
                    </div>

                    {% for image in include.images %}
                        <div class="swiper-slide js-swiper-slide">
                            <img src="" data-src="/assets/images/{{ image[0] }}" class="swiper-lazy image" alt="{{ image[1] }}" loading="lazy" />
                            <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                        </div>
                    {% endfor %}
                </div>

                <div class="swiper-pagination js-swiper-pagination"></div>
            </div>
        </div>
    </div>
</article>
