@font-face {
  font-family: 'Roboto Mono';
  font-weight: normal;
  font-style: normal;
  src: local('Roboto Mono'),
       local('RobotoMono-Regular'),
       url('/assets/fonts/roboto-mono/roboto-mono-regular.woff') format('woff'),
       url('/assets/fonts/roboto-mono/roboto-mono-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Mono';
  font-weight: bold;
  font-style: normal;
  src: local('Roboto Mono Bold'),
       local('RobotoMono-Bold'),
       url('/assets/fonts/roboto-mono/roboto-mono-bold.woff') format('woff'),
       url('/assets/fonts/roboto-mono/roboto-mono-bold.woff2') format('woff2');
}
