.link {
  min-width: auto;
  font-size: var(--font-size-medium);
  font-weight: bold;
  font-family: var(--font-family);
  text-transform: uppercase;
  text-decoration: none;
  line-height: var(--font-height-medium);
  color: #000;
  box-shadow: none;
}
