@import "variables";

.link {
  min-width: auto;
  font-size: $font-size-medium;
  font-weight: bold;
  font-family: $font-family;
  text-transform: uppercase;
  text-decoration: none;
  line-height: $font-height-medium;
  color: #000;
  box-shadow: none;
}
