.tag-cloud {
  width: 100%;
  margin: 0;
  padding: 3rem 0 0 0;
  list-style: none;
  word-spacing: 5.1rem;
  font-size: 3rem;
  text-align: right;
  pointer-events: none;
  user-select: none;

  &--hidden {
    .tag {
      opacity: 0;
    }
  }
}
