.tag {
  display: inline;
  font-size: var(--font-size-tags);
  font-weight: bold;
  font-family: var(--font-family);
  letter-spacing: 0.64rem;
  text-transform: uppercase;
  line-height: var(--font-height-huge);
  white-space: nowrap;
  color: #fff;
  opacity: .2;
  user-select: none;
  pointer-events: none;
  transition: opacity var(--trasnsition);

  &--active {
    opacity: 1;
  }
}
