@import "variables";

.tag {
  display: inline;
  font-weight: bold;
  font-family: $font-family;
  letter-spacing: 0.64rem;
  text-transform: uppercase;
  line-height: 1.1;
  white-space: nowrap;
  color: #fff;
  opacity: .2;
  user-select: none;
  pointer-events: none;
  transition: opacity $transition;

  &--active {
    opacity: 1;
  }
}
