<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}" />
    <link rel="icon" href="favicon.ico">
    <link href="/assets/styles/main.css" rel="stylesheet" />
</head>
<body>
    <aside class="aside">
        <ul class="tag-cloud js-tag-cloud"></ul>
    </aside>
    <main class="main">
        {{ content }}
    </main>

    <script src="/assets/libs/swiper/swiper.min.js"></script>
    <script src="/assets/scripts/main.js"></script>
</body>
</html>
